<table class="orgChartLegend" style="margin-top:10px;" >
    <tr>
        <oj-bind-for-each data="[[legendData]]" as="lItem">
            <template>
                <td>
                    <div :class="[[lItem.data.class]]"></div>
                </td>
                <td style="mergin-left:2px;"><span data-bind="text:lItem.data.text"></span></td>
        </oj-bind-for-each>
        </template>
    </tr>
</table>
<div id="chart-container"></div>

<!-- <oj-bind-if test="[[selectedDomainCode === 'DOM001']]">
    <span role="img" class="externalOrgConnector"></span>
    <div class="oj-flex externalOrgNodesCntnr">
        <span style="text-align:center;">Centralized procurement serving each Business Unit</span>
        <div class="oj-flex row oj-sm-12 oj-sm-justify-content-space-around">
            <div class="oj-flex-item oj-sm-5 externalOrgNode">
                <span>Requestor</span>
            </div>
            <div class="oj-flex-item oj-sm-5 externalOrgNode">
                <span>Requestor</span>
            </div>
        </div>
        <div class="oj-flex row oj-sm-12 oj-sm-justify-content-space-around" style="margin-top: 5px;">
            <div class="oj-flex-item oj-sm-5 externalOrgNode">
                <span>Requestor (Receiving Services)
                </span>
            </div>
        </div>
    </div>
</oj-bind-if> -->